@import './font.css';

body {
  background: cornsilk url('./images/1.jpg') no-repeat center;
}

.autoplacement-example {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}

.pure-button {
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
